body{
    font-family: Arial,  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}

.login-box{
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
}

input, button{
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border-radius: 5px;
}

button{
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

#errorMsg{
    color: red;
    margin-top: 10px;
}